/* Customly imported font stylesheet as it's much faster this way */
@font-face {
	font-family: "CCBackBeatW00-Light";
	src: url("http://db.onlinewebfonts.com/t/2ae64ba97ed9bcd584dd5989332fe300.eot"); /* IE9*/
	src: url("http://db.onlinewebfonts.com/t/2ae64ba97ed9bcd584dd5989332fe300.eot?#iefix") format("embedded-opentype") /* IE6-IE8 */,
		url("http://db.onlinewebfonts.com/t/2ae64ba97ed9bcd584dd5989332fe300.woff2") format("woff2") /* chrome firefox */,
		url("http://db.onlinewebfonts.com/t/2ae64ba97ed9bcd584dd5989332fe300.woff") format("woff") /* chrome firefox */,
		url("http://db.onlinewebfonts.com/t/2ae64ba97ed9bcd584dd5989332fe300.ttf") format("truetype") /* chrome firefox opera Safari, Android, iOS 4.2+*/,
		url("http://db.onlinewebfonts.com/t/2ae64ba97ed9bcd584dd5989332fe300.svg#CCBackBeatW00-Light") format("svg") /* iOS 4.1- */;
	font-display: swap;
}
